@model DuAnQuanLyBatDongSan.Models.Full_Contract
@{
    ViewBag.Title = "Add new contract hợp đông";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/Content/Clients/index3.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contract</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Add new contract </a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add new contract hợp đồng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Add new contract</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Add New Contract Information</h3>


        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "Contracts", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false)
                <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Customer name</label>
                        @Html.TextBoxFor(x => x.Customer_Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.Customer_Name, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Year of birth</label>
                        @Html.TextBoxFor(x => x.Year_Of_Birth, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">SSN</label>
                        @Html.TextBoxFor(x => x.SSN, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Customer address</label>
                        @Html.TextBoxFor(x => x.Customer_Address, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Mobile</label>
                        @Html.TextBoxFor(x => x.Mobile, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Property Name</label>
                        @*@Html.TextBoxFor(x => x.Property_ID, new { @class = "form-control" })*@
                        @Html.DropDownListFor(x => x.Property_ID, ViewBag.Property as SelectList, "- Choose Property Name -", new { @class = "form-control", @placeholder = "Mô tả" })

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Deposit</label>
                        @Html.TextBoxFor(x => x.Deposit, new { @class = "form-control" })
                        <div class="form-group">
                            <label for="exampleInputEmail1">Remain</label>
                            @Html.TextBoxFor(x => x.Remain, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Status</label>
                        @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <a href="/contracts" class="btn btn-danger">Return</a>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            }
                <!-- your steps content here -->
                
        </div>
    </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    </div>
    <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
